<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="appSettings.config">
		<add key="WorkspaceId" value="0"/>
		<add key="RSAPIServerAddress" value=""/>
		<add key="RESTServerAddress" value=""/>
		<add key="AdminUsername" value=""/>
		<add key="AdminPassword" value=""/>
		<add key="SQLServerAddress" value=""/>
		<add key="SQLUsername" value=""/>
		<add key="SQLPassword" value=""/>
		<add key="TestWorkspaceName" value="Integration Tests"/>
		<add key="ServerBindingType" value="http"/>
		<add key="TestWorkspaceTemplateName" value="kCura Starter Template"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
